*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FCEEF1;
    padding: 0px 150px 0px 150px;
}
.banner-img{
    width: 400px;
}
.banner-header{
    font-size: 50px;
    width: 500px; margin-bottom: 10px;
}
.banner-para{
    width: 500px;
    margin-bottom: 20px;
}
.banner-btn{
    background-color: #E55473;
    color: aliceblue;
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

/* Our Featured Flowers */
.our{
    display: flex;
    justify-content: center;
}
.Our-heading{
    text-align: center;
    margin-top: 150px;
}
.Our-image{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px 0px 150px;
}
.Our-heading h2{
    font-size: 30px;
    margin-bottom: 10px;
}
.Our-heading p{
    width: 500px;
    text-align: center;
}
.Our-image{
    margin-top: 50px;
    margin-bottom: 100px;
    padding-left: 200px; 
    padding-right: 200px; 
}
.our-image-1 img{
    background-color:#F2DEE7 ;
    width: 300px;
    padding: 30px;
    border-radius: 150px 150px 0 0 ;
    width: 220px; 
    height: 300px;
    
}
.our-image-2 img{
    background-color:#D9EFF1 ;
    width: 200px;
    padding: 30px;
    border-radius: 150px 150px 0 0 ;
    
}
.our-image-3 img{
    background-color:#D9EFF1;
    width:200px;
    padding: 30px;
    border-radius: 150px 150px 0 0 ;
}
.our-bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 200px;
    margin: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #F4F4F4;
    padding: 20px;
    text-align: center;

}
.hotDeal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 150px 0px 150px;
}
.hotDeal h2{
    font-size: 40px;
}
.hotDeal p{
    width: 400px;
    margin-top: 20px;
    text-align: center;
}
.text-off{
    color: #E55473;
}
.Instagrams{
    margin: 100px 0 100px 0;
}
.Instagram-header{
    text-align: center;
}
.Instagrams-img{
    display: flex;
    justify-content: space-around;
    padding: 0px 150px 0px 150px;
    margin-top: 30px;

}
.Instagrams-img img{
    width: 250px;
}

.GetThe{
    background-image: url('./FlowerImg//Rectangle\ 9.png');
    width: 1000px;
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.GetThe h2{
    font-size: 40px;
    margin-bottom: 10px;
}
.GetThe p{
    margin-bottom: 10px;
}
.getMain{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0 100px 0;
}
.input-text{
    padding: 7px  50px;
    border: none;
    margin: 20px 0;
}
.input-button{
    padding: 7px  20px;
    border: none;
    background: #E55473;
    color: #D9EFF1;
}
.footer-header-main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-header{
    font-size: 40px;
    color: #fff;
    text-align: center;
}
.extra-text{
    color: #E55473;
}
footer{
    background-color: #111010;
    padding: 100px 0 100px 0;
}
.footer-h p{
    width: 600px;
    text-align: center;
    margin-top: 20px;
    color: #c1bdbd;
}

.footer-p{
    color: #3b3a3a;
    text-align: center;
    margin-top: 20px;
}